{% extends "base.html" %}

{% block head %}
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/cmt/static/SlickGrid/slick.grid.css" type="text/css"/>
  <link rel="stylesheet" href="/cmt/static/SlickGrid/css/smoothness/jquery-ui-1.8.16.custom.css" type="text/css"/>
{% endblock head %}

{% block content %}
<div class="row">
	<div class="large-12 columns">
		<div class="panel">
  			<div id="myGrid" style="width:100%;height:600px;"></div>
		</div>
	</div>
</div>
<script src="/cmt/static/SlickGrid/lib/jquery-1.7.min.js"></script>
<script src="/cmt/static/SlickGrid/lib/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/cmt/static/SlickGrid/lib/jquery.event.drag-2.0.min.js"></script>
<script src="/cmt/static/SlickGrid/slick.core.js"></script>
<script src="/cmt/static/SlickGrid/slick.grid.js"></script>

<script>
  var grid;
  var columns = [
    {id: "ticker", name: "Ticker", field: "ticker", width:150}
  ];

  var options = {};
  
  $(function () {
    var data = [];
        
    //needs |safe to get quotes
    var equityData = jQuery.parseJSON('{{jsonEquityData|safe}}');

    for(var i=0;i<equityData.length;i++){
        var equity = equityData[i];
        //take full equity instead of [0] becuase it's single element
        data[i] = {ticker:equity};
    }
    grid = new Slick.Grid("#myGrid", data, columns, options);
  })

</script>
{% endblock content %}
