{% extends "base.html" %}


{% block content %}

<div class="row">
	<div class="large-12 columns">
		<div class="panel">
			<h2>The Purpose</h2>
			<p>We are under active development and the work is part of a finance and software development research initiative.
			The ultimate purpose is to provide an easy to use but rigorous financial engine for the retail as well as the professional investor.
			The development and architecture uses the most up to date software tools that are on the market.</p>

			<h3>Main Features</h3>
			<ul class="square">
				<li>Only open source tools and data providers used</li>
				<li>All application development is done with dynamically typed scripting language with web framework - Python and Django</li>
				<li>Rigourous financial analytics engine which is used by Wall Street and Hedge Funds - QuantLib</li>
				<li>Complete set of security definitions and market data</li>
			</ul>
		</div>
	</div>
</div>
{% endblock content %}

