{% extends "base.html" %}

{% block head %}
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/cmt/static/SlickGrid/slick.grid.css" type="text/css"/>
  <link rel="stylesheet" href="/cmt/static/SlickGrid/css/smoothness/jquery-ui-1.8.16.custom.css" type="text/css"/>
{% endblock head %}

{% block content %}
<div class="row">
	<div class="large-12 columns">
		<div class="panel">
  			<div id="myGrid" style="width:100%;height:600px;"></div>
		</div>
	</div>
</div>
<script src="/cmt/static/SlickGrid/lib/jquery-1.7.min.js"></script>
<script src="/cmt/static/SlickGrid/lib/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/cmt/static/SlickGrid/lib/jquery.event.drag-2.0.min.js"></script>
<script src="/cmt/static/SlickGrid/slick.core.js"></script>
<script src="/cmt/static/SlickGrid/slick.grid.js"></script>

<script>
  var grid;
  var columns = [
    {id: "type", name: "Type", field: "type", width:120},
    {id: "term", name: "Term", field: "term", width:90},
    {id: "mid", name: "Mid", field: "mid", width:80}
  ];

  var options = {};
  
  $(function () {
    var data = [];
        
    //needs |safe to get quotes
    var identifierData = jQuery.parseJSON('{{jsonIdentifierData|safe}}');

    for(var i=0;i<identifierData.length;i++){
        var identifier = identifierData[i];
        data[i] = {type:identifier[0],term:identifier[1],mid:identifier[2]};
    }
    grid = new Slick.Grid("#myGrid", data, columns, options);
  })

</script>
{% endblock content %}

{% block graphs %}
<!--- 
<img src="graphZeroRateCurve.png" width="400" height="400">
---!>
{% endblock graphs %}